body{
    background-color: white;

}

@media screen and (min-width: 500px){
    body{
        background-color: skyblue;
    }
}

@media screen and (max-width: 300px){
    body{
        background-color: orange;
    }
}

/* @media screen  and (min-width:500px) and (max-width: 300px) {
    body{
        background-color: white;
    }
} */


@media screen and (max-height: 300px) {
    p{
        font-family: serif;

    }
}

@media screen and (min-height: 500px) {
    p{
        background-color: green;
        
    }
}

/* 300px이하면 orange로 안바뀜 => 기본배경사이즈가 500px이라 그 이하 사이즈면 개발자도구를 열어야됨!!! */ 

/* 300~500사이에 white로 안됨 => 지정할 태그를 안달았었음*/
