<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ejs 태그 만들면 백엔드꺼 이용가능! -->
    <img src ="/<%=src%>"/>
    <h2> title : <%=title%> </h2>
</body>
</html>