<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>다음 지도 API</title>
  </head>
  <body>
    <div id="map" style="width: 960px; height: 540px"></div>
    <button type="button" onclick="panTo()">내 위치</button>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac0bc7a26540e561b08d22a29e4ac4d6"></script>

    <!-- 지도 생성 코드 -->
    <script>
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.57756, 126.91243), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
          mapTypeId: kakao.maps.MapTypeId.ROADMAP, // 지도종류
        };

      // 지도를 생성한다
      // ---------------------------------- 지도 생성 ----------------------------------
      var map = new kakao.maps.Map(mapContainer, mapOption);


      // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao.maps.services.Geocoder();


            // 주소로 좌표를 검색합니다
        geocoder.addressSearch('서울특별시 용산구 한강대로23길 55', function(result, status) {

        // 정상적으로 검색이 완료됐으면 
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">전시회1</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        } 
        });    

      // ---------------------------------- 내 위치 표시 ----------------------------------
      var lat, lon;
      if (navigator.geolocation) {
        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function (position) {
          (lat = position.coords.latitude), // 위도
            (lon = position.coords.longitude); // 경도

          var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">내 위치</div>'; // 인포윈도우에 표시될 내용입니다

          // 마커와 인포윈도우를 표시합니다
          displayMarker(locPosition, message);
        });
      } else {
        // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
          message = "geolocation을 사용할수 없어요..";

        displayMarker(locPosition, message);
      }

      // 지도에 마커와 인포윈도우를 표시하는 함수입니다
      function displayMarker(locPosition, message) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: locPosition,
        });

        var iwContent = message, // 인포윈도우에 표시할 내용
          iwRemoveable = true;

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
          content: iwContent,
          removable: iwRemoveable,
        });

        // 인포윈도우를 마커위에 표시합니다
        infowindow.open(map, marker);

        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);
      }

      // ---------------------------------- 내 위치로 지도 부드럽게 이동 ----------------------------------
      function panTo() {
        // 이동할 위도 경도 위치를 생성합니다
        var moveLatLon = new kakao.maps.LatLng(lat, lon);

        // 지도 중심을 부드럽게 이동시킵니다
        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
        map.panTo(moveLatLon);
      }

      // ---------------------------------- 다른 위치 마커&인포윈도우 생성 ----------------------------------
      // ---------------------------------- 전시회 마커, 인포윈도우 (내 위치X) ----------------------------------

    //   // 마커를 표시할 위치와 title 객체 배열입니다
    //   var positions = [
    //     {
    //       title: "전시회1",
    //       latlng: new kakao.maps.LatLng(37.529987862999924, 126.96414755682154),
    //     },
    //     {
    //       title: "전시회2",
    //       latlng: new kakao.maps.LatLng(37.53206061629794, 126.96566261394902),
    //     },
    //     {
    //       title: "전시회3",
    //       latlng: new kakao.maps.LatLng(37.53304229625804, 126.96427620514456),
    //     },
    //     {
    //       title: "전시회4",
    //       latlng: new kakao.maps.LatLng(37.53338414385303, 126.96255631401199),
    //     },
    //   ];

      // 마커 이미지의 이미지 주소입니다
      var imageSrc =
        "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

      for (var i = 0; i < positions.length; i++) {
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
          map: map, // 마커를 표시할 지도
          position: positions[i].latlng, // 마커를 표시할 위치
          title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
          image: markerImage, // 마커 이미지
          clickable: true,
        });

        var iwContent = `<div style="padding:5px;">${positions[i].title}<span>  </span><a href="https://map.kakao.com/link/to/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">길찾기</a></div>`, // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
          iwRemoveable = true,
          iwPosition = positions[i].latlng; //인포윈도우 표시 위치입니다

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
          position: iwPosition,
          content: iwContent,
          removable: iwRemoveable,
        });

        kakao.maps.event.addListener(
          marker,
          "click",
          makeClickListener(map, marker, infowindow)
        );
      }

      // 마커에 클릭이벤트를 등록합니다
      function makeClickListener(map, marker, infowindow) {
        return function () {
          // 마커 위에 인포윈도우를 표시합니다
          infowindow.open(map, marker);
        };
      }
    </script>
  </body>
</html>