<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>MVC패턴과 MySQL연결</h2>
    <a href = "/user/register">회원가입으로 이동하기</a>

</body>
</html>