<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방명록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <form name = "form-register">
        <fieldset>
            <legend>회원가입</legend>
            <input type="text" name="userid" placeholder="ID" />
            <br />
            <input type="text" name="name" placeholder="이름" />
            <br />
            <input type="password" name="pw" placeholder="PW" />
            <br />

            <button type="button" onclick="plusRegister()">회원가입</button>
            <br />
        </fieldset>

    </form>

    <div>
        <table border="1" cellspacing="0">
            <thead>
           <tr>
            <th>ID</th>
            <th>이름</th>
            <th>PW</th>
            <!-- <th>수정</th>
            <th>삭제</th> -->
           </tr> 
            </thead>

            <tbody>
                <% for(let i =0 ; i < data.length ; i++) { %>
            <tr>
                <td><%=data[i].id %> </td>
                <td><%=data[i].userid %> </td>
                <td><%=data[i].name %> </td>
                <td><%=data[i].pw %> </td>

            </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <script>
        function plusRegister() {
            // 서버에 보낼 데이터를 만들어야 됨
            const form = document.forms["form-register"]
            const data = {
                userid : form.userid.value,
                name : form.name.value,
                pw : form.pw.value
            }

            // axios 이용해 데이터를 서버로 전송
            axios({
                method : "POST",
                url : "/register",
                data : data
            }).then((res)=>{
                // 클라이언트가 axios 응답을 받으면 화면에 자동으로 뜰 수 있게끔 동적으로 table에 행 추가
                const {id,userid ,name, pw} = res.data

                $("tbody").append(`<tr>
                    <td>${id}</td>
                    <td>${userid}</td>
                    <td>${name}</td>
                    <td>${comment}</td>
                    </tr>`)
            })

        }

    </script>

</body>
</html>