<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajax 동적폼전송 실습</title>
    <!-- 아래는 ajax 사용위해 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- 아래는 axios 사용위해 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 

    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body style="background-color: rgb(170, 222, 243);">
    <form name="register">
        <h2 style="color : rgb(47, 47, 45)" >회원가입</h2>
        <input type="text" name="id" placeholder="ID를 입력하세요." 
                pattern="^[a-zA-Z0-9]{4,}$"
                title="대소문자,숫자를 이용해 4글자 이상"
                required />
    <!-- input 태그의 pattern, minlength, required 이 속성은 form의 "submit" 이 일어날 때 동작함. -->
    <!--  동적 폼 전송은 form 의 "submit" 을 이용하는 게 아님. -->
    <!-- 따라서, javascript 코드 내에서 폼 유효성 검사를 하는 코드를 작성해야함.
     방법 1) 
     regex(Regular Expression :정규표현식)
     const regex = /^[a-z0-9]{5,}$/
     regex.test(form.id.value)
     //regex.test(form.id.value) 코드는 form에서 id 값(form.id.value)이 위에서 설명한 정규표현식에 부합하는지를 검사하는 코드
      만약 id 값이 위 조건에 맞으면 true를 반환하고, 그렇지 않으면 false를 반환

     방법 2)
     form.checkVaildity()와 form.reportVaildity() 를 이용해서 input에 작성된 유효성을 검증 -->

        <br />
        <input type="password" name = "pw" placeholder="비밀번호를 입력하세요."
                pattern="^[a-zA-Z0-9]{4,}$"
                title="대소문자,숫자를 이용해 4글자 이상"
                required />
        <br />
        <input type="text" name="name" placeholder="이름을 입력하세요."
                required />
        <br />
        <br />
        
        <div>
            <button type="button" onclick="ajaxGet()">회원가입</button> <br /><br />
            <button type="button" onclick="ajaxPost()">ajax post 전송</button><br /> <br />
            <button type="button" onclick="axiosGet()">axios get 전송</button><br /> <br />
            <button type="button" onclick="axiosPost()">axios post 전송</button><br /> <br />

        </div>
    </form>

    <h3 id="result"></h3>

    <script>
        
        function getData(){
            const form = document.forms["register"] ;
            const data = {
                id : form.id.value,
                pw : form.pw.value,
                name : form.name.value
            };
            return data;
        };
        
        
        function ajaxGet(){
            const form = document.forms["register"] ;

            if (!form.checkValidity()) { // 사용자가 유효성검사를 통과하지 못한다면 다음 함수를 실행시켜줘
                    form.reportValidity(); //사용자에게 어떤 곳이 유효성검사를 통과하지 못했는지 report해줌
                    return false
                }
            
            const data = getData();

            $.ajax({
                type : "GET",
                url : "/ajax",
                data : data,
                success : function(result){
                        console.log(result);
                        const {name} = result;
                        $("#result").html(`회원가입 완료! <span style="color: blue">${result.name}</span>님 환영합니다.`)
                }
            })

        }

        function ajaxPost(){
            const data = getData();
            if (!data) return;

            $.ajax({
                type : "post",
                url : "/ajax",
                data : data,
                success : function(result){
                    console.log(result);
                    $("#result").html(`ajax post로 회원가입 성공! <span style="color : blue">${result.name}</span>님 환영해요!`)
                }
            })
        }

        function axiosGet(){
            const form = document.forms["register"]
            if (!form.checkValidity()) { // 사용자가 유효성검사를 통과하지 못한다면 다음 함수를 실행시켜줘
                    form.reportValidity(); //사용자에게 어떤 곳이 유효성검사를 통과하지 못했는지 report해줌
                    return false
                }

            const data = getData();
            if(!data) return ;

            axios({
                method : "GET",
                url : "/axios",
                params : data
            }).then((res)=>{
                console.log("res.data : ",res.data);
                const {name} = res.data;
                $("#result").html(`axios get성공! <span style="color : blue">${name}</span>님 환영해요!`)
            })
        }
    </script>
</body>
</html>