.chat-container{
    width : 320px;
    min-height: 500px;
    background-color: rgb(138, 202, 247);
    padding: 10px 15px 0;

    
}


.chat-container .list{
    margin-top: 4px;
    /* background-color: ; */
}

.list > .content{
    padding: 2px 10px;
    display: inline-block;
}

.chat-container .my-chat{
    text-align : right;
}

.my-chat > .content{
    background-color: yellow;
}

.chat-container .other-chat{
    text-align : left;

}
.other-chat > .content {
    background-color: white;

}

.chat-container > .notice{
    color: rgb(45, 44, 44);
    font-size: 12px; 
    text-align: center;
}

.input-container{
    width: 320px;
    display: flex;
    justify-content: space-between;

}

.input-container > input {
    flex-grow:1;
}


.chat-room {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .chat-room span {
    margin-right: 10px;
  }
  
  .chat-room button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .chat-room button:hover {
    background-color: #45a049;
  }
  