/* BEM 네이밍 규칙 block elements method */
/* .FuncComponent__test-css--active {

}

.ClassComponent__ */

.test-css {
    background-color: yellow;
    font-size: 40px;
}

.title-css {
    background-color:aliceblue;
    font-size : 50px;
}

.Section__section {
    margin-bottom: 20px;
    border : 2px solid blue;

}

.Section__title {
    color : red;

}

.Food__content {
    color : red;
}

.Book__text {
    background-color: ivory;
}